<!DOCTYPE html>
<html>
<head>
  <title>PointlessFeedback</title>
  <%= stylesheet_link_tag    "pointless_feedback/application", :media => "all" %>
  <%= javascript_include_tag "pointless_feedback/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
